html, body {
  height: 100%;
}

li a {
  color: rgb(10, 10, 10);
}

a:hover {
  color: rgb(192, 118, 34);
}

p {
  color: #3f3f3f;
}

li {
  text-decoration: underline;
}

h3 {
  text-align: center;
  margin-bottom: 50px;
}

.menu p, a, h2, h3, h4 a, .product-name {
  color: #ea6000;
}

.link1 a, .link2 a, .link3 a, .topMain_ttl-en, .topMain_ttl-jp, .bg-color a, .foot_nav_container p, .foot_nav_container a {
  color: white;
}

.bg-color, .bg-tp {
  padding: 12px;
  font-size: 15px;
}

.header {
  border-left: 5px solid #ea6000;
  border-right: 5px solid #ea6000;
  border-top: 5px solid #ea6000;
}
.nav-item {
  border-left: 1px dotted #ea6000;
}
.header_heading {
  padding: 30px;
}

.logo {
  background-color: #6c757d;
  width: 150px;
  height: 70px;
  float: left;
  text-align: center;
  padding-top: 1%;
  margin-right: 40px;
  margin-bottom: 2%;
}
.header_navbar {
  margin-top: 2%;
}

ul {
  list-style: none;
  padding-left: 0%;
}

.haeder-nav_login {
  position: absolute;
  top: 0;
  right: 15%;
  width: 282px;
  background-color: #ea6000;
  border-radius: 0 0 5px 5px;
  padding: 0 20px 0 20px;
}

.link1 {
  float: left;
  margin-right: 20px;
}
/* レスポンシブ用 */
.navbar_r {
  display: none;
}

@media (max-width: 425px) {
  
  .header_heading {
    position: fixed;
    z-index: 4;
    background-color: white;
    width: 99%;
    border-right: 6px solid #ea6000;
  }
  
  .header_navbar {
    display: none;
  }
  .navbar_r {
    display: inline-block;
  }
  .navbar-brand {
    color: white;
    margin-right: 0%;
  }
  
  .navbar-toggler {
    background-color: #ea6000;
  }


  .navbar-toggler-icon {
    width: 0;
  }

  .nav-item {
    border-bottom: 1px dotted #ea6000;
    border-left: none;
  }

  .haeder-nav_login {
    display: none;
  }
}

/* スライドショー */
.slideshow {
  position: relative;  /* 親要素にrelativeを指定 */
  height: 500px;
  clear: both;
}
.slideshow img {
  position: absolute; /* absoluteで画像を重ねる */
  width: 100%;
  height: 100%;
}
/* おすすめみかん */

.topMain_headingtop {
  position: relative;
}

.topMain_section, .topMain_section_bottom {
  border-left: 5px solid #ea6000;
  border-right: 5px solid #ea6000;
}

/* 三角 */

.topMain_ttl-jp::before {
  content: '';
  position: absolute;
  left: -0%;
  top: 99%;
  border-top: 14vw solid #ea6000;
  border-right: 98vw solid transparent;
  z-index: -1;
}

.topMain_ttl::after {
  content: '';
  position: absolute;
  top: 99%;
  border-top: 12vw solid #179935;
  border-left: 90vw solid transparent;
  right: -0%;
  z-index: -2;
}

.topMain_ttl {
  text-align: center;
  position: relative;
  z-index: 3;
  background-color: #ea6000;
}

.topMain_ttl-en {
  font-size: 3rem;
}

.topMain_ttl-jp {
  font-size: 1rem;
}

.bg-tp, .details, .details_customer {
  border: 1px solid #ea6000;
  border-radius: 15px;
  text-align: center;
}

.bg-color {
  background-color: #ea6000;
  border-radius: 15px;
  text-align: center;
}

.topMain_contents_wrap {
  margin-bottom: 100px;
  margin-top: 10%;
}

.topMain_contents_img {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-image: url(http://placehold.jp/900x900.png?text=PRODUCT);
  background-size: cover;
  background-position: center center;
}

.topMain_contents_thumb {
  position: relative;
}

.topMain_contents_label {
  position: absolute;
  top: 0;
  padding: 3px 15px;
  background-color: #179935;
  color: white;
}

/* ランキング */

.topMain_contents_label_1 {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px 0 0 5px;
  padding: 3px 0;
  text-align: center;
  background-color: #080808;
  color: white;
}

.first>p>.topMain_contents_label_1 {
  background-color: #D3B120;
}

.second>p>.topMain_contents_label_1 {
  background-color: #ADADAD;
}

.third>p>.topMain_contents_label_1 {
  background-color: #CB7933;
}

/* 商品カテゴリー */

.topMain_category_out {
  background-image: url(img/mandarins-569370_1920.jpg);
  background-size: cover;
  padding: 180px 0;
}

.topMain_category_in {
  height: ７00px;
  margin: 0 10%;
  background-color: white;
  border-radius: 10px;
}

.topMain_category {
  padding-top: 3%;
}

.heading {
  margin-bottom: 30px;
}

.topMain_contents_img_radius {
  display: block;
  height: 0;
  padding-bottom: 100%;
  background-image: url(http://placehold.jp/900x900.png?text=PRODUCT);
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}

.topMain_category_bottom {
  border-top: 1px dotted #ea6000;
  padding: 30px 0;
}

.details_customer {
  color: #179935;
  border: 1px solid #179935;
}

/* 下三角 */

.topMain_ttl-jp::before {
  content: '';
  position: absolute;
  left: -0%;
  top: 99%;
  border-top: 14vw solid #ea6000;
  border-right: 98vw solid transparent;
  z-index: -1;
}

.topMain_ttl_bottom::after {
  content: '';
  position: absolute;
  top: 99%;
  border-top: 12vw solid #179935;
  border-left: 90vw solid transparent;
  right: -0%;
  z-index: -2;
}

.topMain_ttl_bottom {
  text-align: center;
  position: relative;
  top: -217px;
  z-index: 3;
  background-color: #ea6000;
}

/* こだわりみかん */

.topMain_ttl_bottom {
  text-align: center;
  position: relative;
  top: 0%;
  z-index: 3;
}

.top_article_out {
  position: relative;
}

.top_article_out {
  margin-top: 20%;
}

.top-article_img {
  background-image: url(img/toparticlemikan.png);
  background-size: cover;
  height: 212px;
  right: 0%;
  margin-bottom: 3%;
}

@media (max-width: 575px) {
  .top-article_img {
    background-image: url(img/toparticlemikan.png);
    background-size: cover;
    height: 333px;
    width: 50px;
    top: 0%;
    right: 0%;
  }
  .article_text {
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 766px) {
  .top-article_img {
    background-image: url(img/toparticlemikan.png);
    background-size: cover;
    height: 160px;
    width: 50px;
    top: 0%;
    right: 0%;
  }
}

/* 中間画像 */

.top-article_img-table {
  display: table;
  width: 100%;
}

.top-article_img-cell {
  background-size: cover;
  height: 200px;
  display: table-cell;
}

.top-article_img-table span:nth-child(1) {
  background-image: url(img/toparticleimg1.jpg);
}

.top-article_img-table span:nth-child(2) {
  background-image: url(img/toparticleimg2.jpg);
}

.top-article_img-table span:nth-child(3) {
  background-image: url(img/toparticleimg3.jpg);
}

.top-article_img-table span:nth-child(4) {
  background-image: url(img/toparticleimg4.jpg);
}

@media (max-width: 576px) {
  .top-article_img-table span:nth-child(1), .top-article_img-table span:nth-child(4) {
    display: none;
  }
}

/* 最先端の */

.bottom_article_out {
  background-image: url(img/toparticlehatake_gradient.png);
  background-size: cover;
  padding-bottom: 10%;
}

.article_text_2 {
  text-align: right;
}

.bottom_article_in {
  margin-left: 75%;
  margin-right: 10%;
}

@media (min-width: 885px) {
  .under_button {
    display: none;
  }
}

@media (max-width: 884px) {
  .bottom_article_in {
    display: none;
  }
  .bottom_article_out {
    background-image: url(img/toparticlehatake.jpg);
    background-size: cover;
    padding-bottom: 40%;
  }
  .under_button {
    background-color: white;
    height: 170px;
    width: 100%;
    margin-bottom: 0;
    padding: 5% 10% 10% 15%;
  }
}

/* フッター */

#top_button{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ea6000;
  border: 1px solid #ea6000;
  position: absolute;
  top: -10%;
  left: 50%;
  margin-left: -60px;
  color: #29ef57;
  outline: none !important;
  cursor: pointer;
}
.label {
  font-size: 25px;
}
.label::before {
  content: '';
  position: absolute;
  top: 25%;
  right: 50%;
  height: 1px;
  width: 10px;
  background-color: #29ef57;
  transform: rotate(-45deg);
}
.label::after {
  content: '';
  position: absolute;
  top: 25%;
  left: 57px;
  height: 1px;
  width: 10px;
  background-color: #29ef57;
  transform: rotate(45deg);
}

.footer {
  background-color: #ea6000;
  color: white;
  position: relative;
}

.foot_nav1 {
  padding-top: 5%;
}

.foot_nav_container_in li {
  margin-bottom: 10px;
  list-style-type: circle;
}

.foot_nav_ul {
  padding-left: 0%;
  column-count: 2;
}

.footer_navbar {
  position: relative;;
}

.footer_navbar-brand, .footer_navbar-nav .nav-item {
  color: white;
}
.footer_navbar-brand {
  font-size: 1.5rem;
}
@media (min-width: 523px) {
  .foot_nav1_r {
    display: none;
  }  
}

@media (max-width: 522px)  {
  .foot_nav1 {
    display: none;
  }
  .footer_navbar {
    border-bottom: 1px solid #eb7d2f
  }
  
  .footer_navbar_t {
    outline: none !important;
    position: relative;
  }
  
  .footer_navbar_t::before {
    content: '';
    background-color: white;
    width:10px;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 5%;
  }
  
  .footer_navbar_t::after {
    content: '';
    background-color: white;
    width:10px;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: rotate(90deg);
  }
  
  .footer_navbar_t_b::after {
    display: none;
  }
  
  .footer_navbar-nav li {
    position: relative;
  }
  
  .footer_navbar-nav .nav-item {
    color: #080808;
    border-bottom: 1px solid white;
    background-color: rgba(255,255,255,0.8);
    text-decoration: none;
    padding-left: 5%;
  }
  
  .footer_navbar-nav .nav-item::before {
    content: '';
    background-color: #ea6000;
    width:10px;
    height: 1px;
    position: absolute;
    top: 40%;
    right: 5%;
    transform: rotate(45deg);
  }
  .footer_navbar-nav .nav-item::after {
    content: '';
    background-color: #ea6000;
    width:10px;
    height: 1px;
    position: absolute;
    bottom: 40%;
    right: 5%;
    transform: rotate(-45deg);
  }
}

.foot_nav2 {
  background-color: rgb(209, 79, 3);
}

.foot_nav_logo {
  background-color: #6c757d;
  width: 25%;
  float: left;
  text-align: center;
  margin: 2% 0 0 10px;
  padding: 1% 0 1% 0;
}

.foot_nav_text {
  margin-bottom: 0%;
  padding: 10px 0;
}

.foot_nav_info {
  border-left: 1px dotted white;
  margin-left: 30%;
  padding-left: 4%;
}

.foot_nav3 {
  background-color: rgb(155, 50, 2);
  font-size: 13px;
  padding: 3% 5% 3% 5%;
}

.foot_nav_container_bottom {
  margin-left: 0%;
}

.list {
  display: table;
}

.list li {
  padding-right: 30px;
  padding-left: 30px;
  border-right: 1px solid #eb7d2f;
  border-left: 1px solid #eb7d2f;
  display: table-cell;
}
.foot_nav3_r {
  display: none;
}

@media (max-width: 522px)  {
  .foot_nav3 {
    display: none;
  }
  .foot_nav3_r {
    display: block;
  }
  .list, .list li {
    display: block;
    border-left: none;
    border-right: none;
  }
  .list {
    margin-bottom: 0%;
  }
  .list li {
    border-top: 1px solid #eb7d2f;
    padding: 10px 0;
    text-decoration: none;
    position: relative;
  }
  .foot_nav3_r {
    background-color: rgb(155, 50, 2); 
  }
  .list li:nth-child(5) {
    border-bottom: 1px solid #eb7d2f;
  }
  .list li a::before {
    content: '';
    background-color: white;
    width:10px;
    height: 1px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: rotate(45deg);
  }
  .list li a::after {
    content: '';
    background-color: white;
    width:10px;
    height: 1px;
    position: absolute;
    top: 65%;
    right: 5%;
    transform: rotate(-45deg);
  }

}

.copy {
  text-align: center;
  background-color: rgb(155, 50, 2);
}
